{
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "printWidth": 60,
  "useTabs": false,
  "overrides": [
    {
      "files": "*.ts",
      "options": {
          "parser": "typescript",
          "semi": true
      }
    }
  ]
}